<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Author</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>{{ book.bookName }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.category }}</td>
      <td>{{ book.author }}</td>
      <td>
        <button
          type="button"
          (click)="deleteBook(book.id)"
          class="btn btn-danger"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
