<form [formGroup]="bookForm" (ngSubmit)="addBook()">
  <div class="mb-3">
    <label for="bookName" class="form-label">Name</label>
    <input
      type="text"
      formControlName="bookName"
      class="form-control"
      id="bookName"
    />
    <span
      class="text-danger"
      *ngIf="bookNameControl.invalid && bookNameControl.touched"
    >
      <p
        *ngIf="
          bookNameControl.errors != null && bookNameControl.errors['required']
        "
      >
        Name is required
      </p>

      <p
        *ngIf="
          bookNameControl.errors != null && bookNameControl.errors['minlength']
        "
      >
        Name should be more than 5 characters
      </p>
    </span>
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input
      type="text"
      class="form-control"
      formControlName="category"
      id="category"
    />
    <span
      *ngIf="categoryControl.invalid && categoryControl.touched"
      class="text-danger"
      >Category is required</span
    >
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input
      type="number"
      class="form-control"
      formControlName="price"
      id="price"
    />
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input
      type="text"
      class="form-control"
      formControlName="author"
      id="author"
    />

    <span
      class="text-danger"
      *ngIf="authorControl.invalid && authorControl.touched"
    >
      Author is required
    </span>
  </div>
  <button type="submit" [disabled]="!bookForm.valid" class="btn btn-primary">
    Submit
  </button>
</form>
