<form [formGroup]="bookForm" (ngSubmit)="addBook()">
  <div class="mb-3">
    <label for="bookName" class="form-label">Name</label>
    <input
      type="text"
      formControlName="bookName"
      class="form-control"
      id="bookName"
    />
  </div>
  <div class="mb-3">
    <label for="category" class="form-label">Category</label>
    <input
      type="text"
      class="form-control"
      formControlName="category"
      id="category"
    />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input
      type="text"
      class="form-control"
      formControlName="price"
      id="price"
    />
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input
      type="text"
      class="form-control"
      formControlName="author"
      id="author"
    />
  </div>
  <button type="submit" [disabled]="!bookForm.valid" class="btn btn-primary">
    Submit
  </button>
</form>
